<head>
  <title>CACCL App</title>

  <!-- Import Bootstrap -->
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
  >
</head>

<body>

  <!-- Bootstrap alert -->
  <div class="alert alert-dark text-center m-5">
    <!-- Title -->
    <h3>It's great to meet you, <%= name %>!</h3>

    <!-- Instructions -->
    <ul class="list-group">
      <li class="list-group-item">
        Start by editing <code>routes.js</code> and <code>views/index.ejs</code>
      </li>
      <li class="list-group-item">
        Read the <a href="https://harvard-edtech.github.io/caccl">CACCL docs</a>
      </li>
      <li class="list-group-item">
        Check out the <a href="https://ejs.co">EJS docs</a>
      </li>
    </ul>
  </div>

</body>
