<head>
  <title>Test App</title>

  <!-- Import Bootstrap -->
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
  >
</head>

<body>
  <!-- Centered block with border -->
  <div class="text-center p-2">
    <!-- Bootstrap alert -->
    <div class="alert alert-info d-inline-block">
      <!-- Title -->
      <h3>It's great to meet you, <%= name %>!</h3>

      <!-- Subtitle -->
      <p class="lead m-0">
        Start by editing routes.js and views/index.ejs.
      </p>
    </div>
  </div>
</body>
